@import "../../../assets/styles/variables.less";

.modal-customer-data {
  .profile-avatar{
    width: 200px;
    height: 200px;
  }
  .profile-table {
    width: 100%;
    max-width: 100%;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 16px;
    th {
      border: none;
    }
    td {
      font-size: @size-13;
      padding: 10px 0 4px 0;
      border-top: 1px solid @border-color;
    }
    .table-data {
      text-align: right;
    }
  }
}
