@import "../../../assets/styles/variables.less";
.ant-menu-inline-collapsed{
  width: 62px;
}
.app-sidebar {
  .app-logo {
    height: 60px;
    width: 60px;
    margin: 0 auto;
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    transform: scale(1);
    transition: transform 0.2s ease;

    @media screen and (max-width: @break-small) {
      height: 35px;
      width: 35px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

.ant-layout-sider-collapsed {
  .app-logo {
    transform: scale(0.67);
    transition: transform 0.2s ease;
  }
}
