@import "../../../assets/styles/variables.less";

.customer-box{
  background: #FFFFFF;
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 20px
}
.customer-avatar{
  width: 200px;
  height: 200px;
}
